:root {
  --black: #000000;
  --blue: #14213d;
  --orange-200: #ffc362;
  --orange-400: #fca311;
  --orange-800: #b6760e;
  --red: #9f0606;
  --gray: #e5e5e5;
  --white: #ffffff;
}
.text-black {
  color: var(--black);
}

.text-blue {
  color: var(--blue);
}

.text-orange-200 {
  color: var(--orange-200);
}

.text-orange-400 {
  color: var(--orange-400);
}

.text-orange-800 {
  color: var(--orange-800);
}

.text-red {
  color: var(--red);
}

.text-gray {
  color: var(--gray);
}

.text-white {
  color: var(--white);
}
